# Ignorar todo excepto /p-coding/
*
!/p-coding/
!/git.py

# Si querés permitir una carpeta específica:
!/.gitignore

# Evitar subir archivos temporales o de sistema
*.log
*.tmp
.DS_Store
Thumbs.db
__pycache__/
